<% provide :title, t(".contact") %>
<div class = "center jumbotron">
  <h1><%= t ".contact" %></h1>
  <p>
    <%= t ".content_page" %>
    <%= link_to t(".contact_html"), "http://www.railstutorial.org/contact" %>.
  </p>
</div>
